@font-face {
  font-family: "Archivo";
  src: url("../font/Archivo/Archivo-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: "Syne";
  src: url("../font/Syne/Syne-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Suwannaphum";
  src: url("../font/Suwannaphum/Suwannaphum-Regular.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../font/Inter/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Regular.ttf");
}

body {
  background-color: #fff;
}

#countdown {
  width: 470px;
  height: 150px;
  text-align: center;
  background: #fabc59;
  border-radius: 5px;
  margin: auto;
  padding: 24px 0;
  position: absolute;
  margin-top: 70px;
}
#countdown #tiles {
  position: relative;
  z-index: 1;
}

#countdown #tiles > span {
  width: 92px;
  max-width: 92px;
  font: bold 48px "Archivo";
  text-align: center;
  color: #111;
  background-color: #ddd;
  border-top: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  margin: 0 7px;
  padding: 18px 0;
  display: inline-block;
  position: relative;
}

#countdown .labels {
  width: 100%;
  height: 25px;
  text-align: center;
  position: absolute;
  bottom: 8px;
}

#countdown .labels li {
  width: 102px;
  font: bold 15px "Archivo";
  color: #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

#countdown-tq {
  width: 100%;
  box-sizing: border-box;
  height: 120px;
  text-align: center;
  background: #fabc59;
  border-radius: 5px;
  margin: auto;
  padding: 12px 0;
  position: relative;
  margin-top: 10px;
}
#countdown-tq #tiles-tq {
  position: relative;
  z-index: 1;
  display: flex;
}

#countdown-tq #tiles-tq > span {
  width: 72px;
  max-width: 92px;
  font: bold 32px "Archivo";
  text-align: center;
  color: #111;
  background-color: #ddd;
  border-top: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  margin: 0 7px;
  padding: 18px 0;
  display: inline-block;
  position: relative;
}

#countdown-tq .labels-tq {
  width: 100%;
  height: 25px;
  text-align: center;
  position: absolute;
  bottom: 8px;
  display: flex;
}

#countdown-tq .labels-tq li {
  width: 80px;
  font: bold 13px "Archivo";
  color: #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

.search-box {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 550px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.search-box img {
  position: absolute;
  padding-top: 8px;
  padding-left: 18px;
}

.search-box input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  padding-left: 70px;
  background-color: transparent;
  border: 2px solid #fabc59;
  border-radius: 49.5px;
  color: #fff;
}
.search-box input::placeholder {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.7);
}

h1 {
  font-family: "Suwannaphum";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 20px;

  color: #ffffff;
}

h3 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  display: flex;
  align-items: center;
  margin-top: 80px;
  color: #ffffff;
}
hr {
  margin: 0;
}

.section-one {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 130px;
  height: 35px;
}

.navbar {
  padding-top: 43px;
  background: transparent !important;
  margin-bottom: 3%;
}

.navbar-nav {
  flex-direction: row !important;
  margin-left: 150px;
}
.navbar-nav li:not(.nav-item) {
}
.nav-item:last-child {
  padding-bottom: 10px;
}

.menu-hide {
  display: none;
}
.menu-hide-text {
  display: none;
}

.navbar a {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Archivo";
  font-weight: 500;
  font-size: 14px;
}
.navbar a:hover {
  color: #ffcc64;
}
.nav-item {
  margin-right: 8px;
}
.nav-item a:focus {
  color: #ffcc64 !important;
}

.active {
  color: #ffcc64 !important;
}

.dropdown-menu li a {
  text-decoration: none;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  padding-bottom: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.dropdown-menu li a:hover {
  background-color: #283346;
  color: #ffcc64;
}
.acc {
  padding-top: 2px;
  margin-left: 2px;
}
.acc span {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height */

  color: #000000;
}
.btn-login {
  box-sizing: border-box;
  width: 130px;
  height: 35px;
  background: linear-gradient(180deg, #ffcc64 0%, #ec8e37 100%);
  border: 2px solid #f2e7b5;
  border-radius: 49.5px;
  white-space: nowrap;
  font-family: "Archivo";
  font-style: normal;

  font-size: 14px;
  line-height: 28px;
  /* or 187% */
  margin: 30px;
  text-align: center;
  text-transform: uppercase;

  color: #554348;
}

.btn-login a {
  text-decoration: none;
  font-weight: 700;
  color: #554348;
}

.modal-header .close {
  font-size: 40px;
}

.btn-login:hover {
  background: linear-gradient(180deg, #ec8e37 0%, #ffcc64 100%);
}

.weeks-pot {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: auto;
  box-sizing: border-box;
  width: 150px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 17.5px;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999998;
}

.ring-container {
  position: relative;
}

.circle-ok {
  width: 15px;
  height: 15px;
  background-color: #62bd19;
  border-radius: 50%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -2px;
  left: 2px;
  right: 0;
}

.ringring-ok {
  border: 3px solid #62bd19;
  -webkit-border-radius: 30px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -1px;
  right: 0;
  top: -4px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}

.circle-ng {
  width: 15px;
  height: 15px;
  background-color: #bd1962;
  border-radius: 50%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -2px;
  left: 2px;
  right: 0;
}

.ringring-ng {
  border: 3px solid #bd1962;
  -webkit-border-radius: 30px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -1px;
  right: 0;
  top: -4px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.title-sort-by {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  align-items: center;
}

.sort-by-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  background: #f1f1f1;
  height: 100%;
  z-index: 9999999;
  margin-right: -250px;
}

.list-filter ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Archivo";
  font-size: 14px;
}

.list-filter ul li {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.list-filter ul li div {
  padding-left: 10px;
  padding-right: 10px;
}

.flipdown.flipdown__theme-dark .rotor-group-heading:before {
  color: #fff !important;
}

.box-cd {
  position: relative;
  font-size: 38px;
  width: 500px;
  height: 195px;
  background: #ffffff;
  mix-blend-mode: soft-light;
  opacity: 0.1;
  border-radius: 19px;
}

.flag-private {
  border: 1px solid #ffffff;
  color: #ffffff;
  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
}

.flipdown {
  position: absolute;
  width: 100%;
  height: 195.72px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illus-1 lottie-player{
  height: 460px;
}

.link-after-create {
  display: none;
}

.btnBuyNow {
  box-sizing: border-box;
  width: fit-content;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 75px;
  padding-right: 75px;
  margin-bottom: 20px;
  margin: auto;
  background: linear-gradient(180deg, #ffcc64 0%, #ec8e37 100%);
  border: 2px solid #f2e7b5;
  border-radius: 49.5px;
  margin-bottom: 40px;
  color: #554348;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  white-space: nowrap;
}

.btnBuyNow:hover {
  background: linear-gradient(180deg, #ec8e37 0%, #ffcc64 100%);
}

.nav-item img {
  width: 35px;
  height: 35px;
}

.section-two {
  background: #fff;
  margin-bottom: 30px;
}

.illus-2 lottie-player {
  height: 380px;
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #182232;
}
.text-subtitle {
  font-family: "Archivo";
  font-style: normal;
  margin-top: 80px;
  font-weight: 700;
  font-size: 28px;
}
.text-subtitle p {
  font-family: "Inter";
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #5e5e5e;
}
.section-three {
  background-color: #f5f5f5;
  padding-bottom: 30px;
  padding-top: 30px;
}
.illus-3 lottie-player {
  height: 380px;
}

.section-four {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #fff;
}
.illus-4 lottie-player {
  height: 380px;
}

.url-copy {
  font-size: 12px;
  display: none;
}

.section-five {
  background-color: #f5f5f5;
  padding-bottom: 30px;
  padding-top: 30px;
}
.illus-5 img {
  width: 348px;
  height: 750px;
}
.list-raffles {
  display: flex;
}
.list-raffles img {
  width: 46px;
  height: 46px;
}
.text-number {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #182232;
}
.text-date {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #6d6d6d;
}
.tbl-raffle {
  width: 100%;
  vertical-align: middle;
}
.tbl-raffle td {
  padding: 6px;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
}
.tbl-raffle th {
  padding: 6px;
  text-align: center;
}
.text-price {
  font-family: "Suwannaphum";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #182232;
}
.text-price p {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.dt-raffles {
  border-top: 1px solid #646464;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-six {
  background: #fff;
  padding-bottom: 30px;
}

.btn-get-started {
  box-sizing: border-box;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 35px;
  padding-right: 35px;
  background: linear-gradient(180deg, #ffcc64 0%, #ec8e37 100%);
  border: 2px solid #f2e7b5;
  border-radius: 49.5px;
  color: #554348;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  white-space: nowrap;
}

.btn-get-started:hover {
  background: linear-gradient(180deg, #ec8e37 0%, #ffcc64 100%);
}

.footer {
  background: radial-gradient(
    84.73% 107.94% at 46.45% 0.94%,
    #4a5464 0%,
    #3f4c63 20.31%,
    #283346 67.19%,
    #182232 100%
  );
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-media {
  margin-bottom: 30px;
}
.social-media img {
  height: 45px;
}

.social-media span {
  margin-right: 100px;
  width: 150px;
  height: 40px;
}
.fa-facebook-f,
.fa-twitter,
.fa-linkedin-in,
.fa-instagram {
  margin-right: 20px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-linkedin-in:hover,
.fa-instagram:hover {
  color: #ffcc64;
}

.menu-footer {
  display: flex;

  justify-content: center;
  margin-bottom: 30px;
}
.menu-footer a {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 60px;
  text-decoration: none;
}
.menu-footer a:hover {
  color: #ffcc64;
}

.text-desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  /* or 171% */

  text-align: center;

  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 30px;
}

.copyright {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  /* identical to box height */
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.header-ac-bg {
  background: linear-gradient(0.82deg, #5c687b -14.22%, #182232 84.83%);
}

.margin-40 {
  margin-top: 40px;
}
.title-c {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
}

.menu-c {
  display: flex;
  justify-content: center;
}
.menu-c a {
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;

  color: rgba(255, 255, 255, 0.7);
}
.menu-c a:hover {
  border-bottom: 3px solid #fec862;
  color: #fec862;
}
.content-c {
  background: #f5f5f5;
  padding-top: 30px;
  padding-bottom: 30px;
}
.card {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 250px;
  width: 340px;
  cursor: pointer;
}
.card:hover {
  background: #f4f4f4;
}

.card-body a {
  text-decoration: none;
}
.card-title {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;

  color: #182232;
}
.card-subtitle {
  font-family: "Suwannaphum";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #182232;
  margin-top: 30px;
}
.card-text {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #7d8289;
}
.card-info {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  align-items: center;
  display: flex;
  color: #5587fd;
}
.card-info span {
  margin-top: 6px;
  margin-left: 6px;
}
.live-c {
  margin-right: 16px;
}
.card-info img {
  width: 30px;
  width: 30px;
  margin-top: 5px;
  margin-right: -12px;
}

.winner {
  color: #000;
}

.win-name {
  margin-left: 120px;
}

.display-name {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.7);
}

.banner {
  background: #fff;
  padding: 30px;
  justify-content: center;
}

.banner img {
  height: 350px;
  width: 100%;
}
.content-mc {
  background: #f5f5f5;
  padding-bottom: 30px;
}

.card-mc {
  width: 85%;
  height: 80px;
  border: 1px solid #939393;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.mc-right {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.05em;
  float: right;
  padding-top: 20px;
  padding-right: 20px;

  color: #121212;
}
.mc-left {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  float: left;
  padding-left: 20px;
  padding-top: 10px;
  color: #182232;
}
.mc-left p {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;

  color: #a9a9a9;
}
.text-dp {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 30px;
  line-height: 38px;
  text-align: center;

  color: #ffffff;
}

.dropdown-menu-action {
  width: 70px;
}

.dropdown-menu-action li a {
  margin: 0;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 12px;
  font-weight: normal;
}

.illus-6 {
  text-align: center;
}
.illus-6 lottie-player {
  height: 450px;
}

.login-container {
  background-color: #f4f4f4;
  padding-top: 10px;
  padding-bottom: 2px;
}

.signup-logo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.signup-logo img{
  height: 92px;
}

.form-title {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  text-align: center;

  color: #222222;
}
.form-signup {
  width: 600px;
  margin: auto;
  padding: 30px;
  background: #ffffff;
  margin-bottom: 30px;
}
.form-signup input,
textarea {
  box-sizing: border-box;
  width: 100%;
  margin-top: 30px;
  padding: 7px;
  border: 1px solid #939393;
  border-radius: 5px;
}

.form-signup input::placeholder {
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #b6b6b6;
}
.form-signup textarea::placeholder {
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #b6b6b6;
}

.btnSignup {
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  margin: auto;
  background: linear-gradient(180deg, #ffcc64 0%, #ec8e37 100%);
  border: 2px solid #f2e7b5;
  border-radius: 49.5px;
  white-space: nowrap;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  color: #554348;
}
.btnSignup:hover {
  background: linear-gradient(180deg, #ec8e37 0%, #ffcc64 100%);
}
.tos {
  display: flex;
  flex-direction: row;
}
.tos input {
  margin-top: 0;
  width: 18px;
}
.tos span {
  margin-top: 5px;
  margin-left: 10px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}

.tos span a {
  text-decoration: none;
  color: #e1b636;
}

.rm {
  display: flex;
  flex-direction: row;
}
.rm input {
  margin-top: 10px;
  width: 18px;
}
.rm span {
  margin-top: 12px;
  margin-left: 8px;
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}

.signup-menu {
  width: 100%;
  margin: auto;
  padding: 20px;
  background: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}

.signup {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
}

.signup-menu a {
  text-decoration: none;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #554348;
}

.signup-menu a:hover {
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: #554348;
  background: linear-gradient(180deg, #ffcc64 0%, #ec8e37 100%);
  border: 2px solid #f2e7b5;
  border-radius: 49.5px;
}

.menu-active {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: #554348;
  background: linear-gradient(180deg, #ffcc64 0%, #ec8e37 100%);
  border: 2px solid #f2e7b5;
  border-radius: 49.5px;
}

.form-subtitle {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  color: #000000;
}
.form-subtitle a {
  text-decoration: none;
  color: #f3a447;
}
.form-subtitle a:hover {
  color: #f78400;
}

.forgot {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  color: #000000;
}
.forgot a {
  text-decoration: none;
  color: #000;
  border-bottom: 1.5px solid #000;
  padding-bottom: 5px;
}
.forgot a:hover {
  color: #f3a447;
  border-bottom: 2px solid #f3a447;
}
.modal-body {
  padding: 30px;
}

.modal-title {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #f3a447;
  text-transform: uppercase;
}
.box-bn {
  width: 355px;
  height: 107px;
  margin-top: 15px;
  background-image: url(../images/bg-buynow-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.5;
}
.box-bn:hover {
  opacity: 1;
}
.box-bn-active {
  opacity: 1;
}
.box-bn-b {
  width: 355px;
  height: 107px;
  margin-top: 15px;
  background-image: url(../images/bg-buynow-1.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.box-bn h5 {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding-top: 10px;
  padding-left: 20px;
  color: #fff;
}

.box-bn h3 {
  margin-top: 0;
  font-family: "Suwannaphum";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: 0.05em;
  justify-content: center;
  color: #fff;
}
.form-group {
  margin-top: 10px;
}
.form-group label {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #000000;
}
.logout-btn {
  color: #ffffff;
  font-size: 16px !important;
  background: linear-gradient(180deg, #ffcc64 0%, #ec8e37 100%);
  border: 2px solid #f2e7b5;
  border-radius: 50px;
  display: block;
  text-align: center;
}
.form-group input::placeholder {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #bfbfbf;
}

.load-more {
  width: 100%;
  text-align: center;
  color: #000000;
  font-size: 14px;
  padding: 10px 0px;
  font-family: sans-serif;
}

.load-more-raffle {
  width: 100%;
  text-align: center;
  color: #000000;
  font-size: 14px;
  padding: 10px 0px;
  font-family: sans-serif;
}

.form-group input {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #000000;
}

table a {
  color: #000000;
}

.blinking-red {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background-color: #ce2b37;
  border-radius: 50%;
  position: relative;
}

.blinking-red:before {
  content: "";
  width: inherit;
  height: inherit;
  border: 5px solid #ce2b37;
  border-radius: inherit;
  position: absolute;

  opacity: 0;
  animation: 2s expand cubic-bezier(0.29, 0, 0, 1) infinite;
  -webkit-animation: 2s expand cubic-bezier(0.29, 0, 0, 1) infinite;
  animation-delay: 1s;
}

.blinking-green {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  background-color: #008000;
  border-radius: 50%;
  position: relative;
  
}

.blinking-green:before {
  content: "";
  width: inherit;
  height: inherit;
  border: 5px solid #008000;
  border-radius: inherit;
  position: absolute;

  opacity: 0;
  animation: 2s expand cubic-bezier(0.29, 0, 0, 1) infinite;
  -webkit-animation: 2s expand cubic-bezier(0.29, 0, 0, 1) infinite;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

@keyframes expand {
  /* Starting at 1 to prevent IOS flicker */
  1% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  10% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 250%;
    height: 250%;
    opacity: 0;
    border-color: #fff;
    background-color: none;
    border-width: 2px;
    -webkit-opacity: 0;
  }
}

.form-group select {
  float: right;
  width: 150px;
  height: 30px;
  border: 1px solid #cac3c3;
  border-radius: 5px;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #000000;
}

.text-bn {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #bfbfbf;
}

.text-pay {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #000000;
}

.box-pay {
  cursor: pointer;
  text-align: center;
}
.box-pay img {
  text-align: center;
  border: 1px solid #e8e5e5;
  border-radius: 6px;
  width: 69px;
  height: 48px;
  padding: 10px;
}
.text-sum {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #959292;
}

.btnBuyTicket {
  width: 230px;
  height: 48px;
  white-space: nowrap;
  background: linear-gradient(180deg, #ffcc64 0%, #ec8e37 100%);
  border: 2px solid #f2e7b5;
  border-radius: 49.5px;
}
.btnBuyTicket a {
  text-decoration: none;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  text-align: center;

  color: #554348;
}
.cancel {
  text-decoration: none;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  color: #554348;
}

.fa-circle-xmark {
  font-size: 28px;
  color: #f3a447;
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 10px;
  border: none;
  background: transparent;
}

.title-draw {
  margin-top: 20px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 28px;
  text-align: center;

  color: #000000;
}
.box-draw {
  margin: auto;
  display: flex;
}
.box-draw .days {
  width: 100px;
  height: 100px;
  border: 1px solid #000000;
  border-radius: 6px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 720;
  font-size: 64px;
  color: #000000;
  text-align: center;
}
.days p {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
}
.box-draw .hours {
  width: 100px;
  height: 100px;
  border: 1px solid #000000;
  border-radius: 6px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 720;
  font-size: 64px;
  color: #000000;
  text-align: center;
}
.hours p {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
}
.box-draw .minutes {
  width: 100px;
  height: 100px;
  border: 1px solid #000000;
  border-radius: 6px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 720;
  font-size: 64px;
  color: #000000;
  text-align: center;
}
.minutes p {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
}
.box-draw .seconds {
  width: 100px;
  height: 100px;
  border: 1px solid #000000;
  border-radius: 6px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 720;
  font-size: 64px;
  color: #000000;
  text-align: center;
}
.seconds p {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
}

.box-draw .text-a {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 29px;
  color: #000000;
  vertical-align: middle;
  margin-top: 30px;
  margin-right: 5px;
  margin-left: 5px;
}

.box-win {
  width: 550px;
  height: 250px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.box-win h5 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.box-win-x {
  display: flex;
  width: 350px;
  height: 150px;
  left: 564px;
  top: 1625px;
  margin: auto;
  padding: 20px;
  background: radial-gradient(
    105.36% 105.36% at 50% 50%,
    #506996 0%,
    #404c63 40.45%,
    #334564 79.38%
  );
  mix-blend-mode: normal;
  border-radius: 11px;
}

.box-win-number {
  height: 80px;
  width: 80px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #f7911c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 #f7911c, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  background-color: #ffaf54;
  background: linear-gradient(180deg, #ffcf66 0%, #ffaf54 100%);
  border: 1px solid #ffffff;
  border-radius: 6px;
  color: #000;
  font-family: "Syne";
  font-style: normal;
  font-weight: 720;
  font-size: 46px;
  text-align: center;
  margin: auto;
}
.content-draw-b {
  background: #f5f5f5;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.content-draw-b h5 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-top: 60px;
  color: #182232;
}

.btnBackHome {
  background: linear-gradient(180deg, #1f2a3c 0%, #384459 100%);
  border: 2px solid #c9c9c9;
  border-radius: 49.5px;
  padding: 10px 30px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-top: 30px;
  color: #ffffff;
  white-space: nowrap;
}

.illus-7 {
  text-align: center;
  margin-top: 30px;
}
.illus-7 lottie-player {
  height: 480px;
}

.box-win-y {
  margin-top: 100px;
  display: flex;
  height: 150px;
  left: 564px;
  top: 1625px;
  padding: 20px;
  background: #d8d8d8;
  border-radius: 19px;
}

.box-win-number-y {
  height: 80px;
  width: 80px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #3b3b3b inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 #3b3b3b, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  background-color: #ffaf54;
  background: linear-gradient(180deg, #5e5e5e 0%, #3b3b3b 100%);
  border: 1px solid #858585;
  border-radius: 6px;
  color: #fff;
  font-family: "Syne";
  font-style: normal;
  font-weight: 720;
  font-size: 46px;
  text-align: center;
  margin: auto;
}

.text-rh {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin-top: 20px;
}

.tbl-rh {
  margin-bottom: 30px;
}

#customers {
  font-family: "Archivo";
  border-collapse: collapse;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  text-align: center;
}
#customers a {
  text-decoration: none;
}
#customers td,
#customers th {
  font-family: "Archivo";
  padding: 8px;
  white-space: nowrap;
}
#customers tr {
  padding: 18px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #000;
  color: rgb(0, 0, 0);
  text-align: center;
}

.col-md input[type="email"],
.col-md input[type="password"],
.col-md input[type="text"],
.col-md input[type="tel"] {
  padding: 10px;
  font-family: "Archivo";
  font-size: 14px;
}

.btnDownload {
  background: linear-gradient(180deg, #ffcc64 0%, #ec8e37 100%);
  border: 2px solid #f2e7b5;
  border-radius: 49.5px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  white-space: nowrap;
}
.btnVd {
  background: linear-gradient(180deg, #3a475c 0%, #182233 100%);
  border-radius: 49.5px;
  color: white;
  cursor: pointer;
}

.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  float: right;
  margin-top: 20px;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 170px;
  height: 30px;
  background-color: #4769e2;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-family: "Syne";
  font-size: 16px;
  font-weight: 700;
  top: 2px;
  right: 20px;
  color: #ffffff;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);

  width: 80px;
  height: 25px;
  background: #fff;
  border-radius: 26px;
  position: absolute;
  font-family: "Syne";
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  color: #222;
  font-weight: 600;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner {
  background-color: #4769e2;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 88px;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}
.btnCreateCamp {
  width: 40%;
  height: 48px;
  white-space: nowrap;
  background: linear-gradient(180deg, #ffcc64 0%, #ec8e37 100%);
  border: 2px solid #f2e7b5;
  border-radius: 49.5px;
}
.btnCreateCamp a {
  text-decoration: none;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  text-align: center;

  color: #554348;
}
.text-cmc {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  text-align: left;
  margin-top: 10px;
}

.share-url {
  width: 60%;
}

.copy {
  width: fit-content;
  color: #2a2f3f;
  font-size: 10px;
  font-family: "Archivo";
  font-weight: 720;
  border-radius: 8px;
  background: #fdc45e;
  padding: 5px 8px;
  float: right;
  margin-top: -30px;
  margin-right: 5px;
  cursor: pointer;
}
.sosmed {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.sosmed img {
  width: 32px;
  height: 32px;
}
.form-switch {
  float: right;
  font-family: "Syne";
  font-weight: 600;
  font-size: 14px;
}
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 7.8em;
  height: 2em;
  overflow: hidden;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  border: 1px solid #333;
  left: 0.4em;
  bottom: 0.2em;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(5em);
}

.select-filter-by {
  font-family: "Archivo";
  padding: 10px !important;
  border: 0 !important;
  border: 1px solid #c0c0c0 !important;
  border-radius: 6px !important;
}

.switch .text {
  position: absolute;
  top: 50%;
  pointer-events: none;
  text-transform: uppercase;
  transform: translateY(-50%);
  transition: 0.4s;
}

.switch .text.on {
  left: -1.2rem;
  transform: translateX(-3rem) translateY(-50%);
  color: #fff;
}

.switch .text.off {
  color: #000;
  right: 0.8rem;
}

input:checked ~ .text.off {
  transform: translateX(12rem) translateY(-50%);
}

input:checked ~ .text.on {
  transform: translateX(2rem) translateY(-50%);
}
.text-mmc {
  float: right;
  margin-top: 8px;
  font-family: "Archivo";
  font-weight: 600;
  font-size: 12px;
}

.text-card {
  color: #000;
  font-size: 22px;
  font-family: "Archivo";
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 30px;
}
.text-credit {
  color: #000;
  font-size: 14px;
  font-family: "Archivo";
  font-weight: 500;
  margin-bottom: 10px;
}
.card-info {
  display: flex;
  flex-direction: row;
}
.text-card-info {
  color: #f4a84a;
  font-size: 16px;
  font-family: "Archivo";
  font-weight: 700;
}
.text-card-info-b {
  color: #000;
  font-size: 16px;
  font-family: "Archivo";
  font-weight: 700;
  float: right;
}

.btn-edit-card button {
  text-decoration: none;
  color: #000;
  background-color: #f4a84a;
  font-size: 13px;
  font-family: "Archivo";
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  padding: 2px 15px;
}

.card-info {
  margin-top: 10px;
}

.btn-add-new-card {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.btn-add-new-card button {
  text-decoration: none;
  color: #212b3d;
  font-size: 20px;
  font-family: "Archivo";
  font-weight: 700;
  border-radius: 49.5px;
  border: 2px solid #f2e7b5;
  background: linear-gradient(180deg, #ffcc64 0%, #ec8e37 100%);
  padding: 10px 20px;
}
.img-card {
  float: right;
}

.title-dash {
  color: #000;
  font-size: 24px;
  font-family: "Archivo";
  font-weight: 700;
  text-transform: uppercase;
}

.card-dash {
  margin-top: 20px;
  width: 250px;
  height: 123px;
  border-radius: 8px;
  border: 1px solid #000;
  padding: 30px 25px;
}
.card-dash img {
  width: 50px;
  height: 50px;
}

.card-dash span {
  color: #060606;
  font-size: 24px;
  font-family: Suwannaphum;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.card-dash p {
  color: #6d6d6d;
  font-size: 14px;
  font-family: "Archivo";
  font-weight: 700;
}

.box-pay-dash {
  display: flex;
}

.pay-dash {
  margin-top: 20px;
  margin-right: 15px;
  border-radius: 28.5px;
  border: 1px solid #000;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 180px;
  text-align: center;
  cursor: pointer;
}

.pay-dash a {
  text-decoration: none;
}

.pay-dash span {
  color: #000;
  font-size: 16px;
  font-family: "Archivo";
  font-weight: 700;
  margin-left: 10px;
}
.logout {
  display: none;
}

.btn-filter {
  width: fit-content;
}

.filter-by-container2 ul li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  font-family: "Archivo";
  font-size: 14px;
  gap: 10px;
  align-items: center;
}

.filter-by-container ul li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  font-family: "Archivo";
  font-size: 14px;
  gap: 10px;
  align-items: center;
}

.navbar-nav a {
  color: #969696;
}
.illus-8 img {
  width: 300px;
  height: 430px;
}
.text-tq {
  color: #2a2f3f;
  font-family: Archivo;
  font-size: 28px;
  font-style: normal;
  font-weight: 720;
  line-height: normal;
}
.text-tq p {
  color: #818790;
  font-family: Archivo;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-top: 5px;
}

.btn-drawing-page {
  margin-top: 20px;
  color: #2a2f3f;
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 720;
  line-height: normal;
}

.btn-drawing-page a {
  text-decoration: none;
  color: #554348;
  padding: 10px 30px;
  border-radius: 49.5px;
  border: 2px solid #f2e7b5;
  background: linear-gradient(180deg, #ffcc64 0%, #ec8e37 100%);
}
.btn-drawing-page a:hover {
  background: linear-gradient(180deg, #ec8e37 0%, #ffcc64 100%);
}

.text-ticnum {
  color: #2a2f3f;
  font-family: Archivo;
  font-size: 22px;
  font-style: normal;
  font-weight: 720;
  line-height: normal;
  margin-top: 20px;
}
.text-ticnum p {
  color: #f29f44;
  font-family: Archivo;
  font-size: 28px;
  font-style: normal;
  font-weight: 720;
  line-height: normal;
}

.text-raffle {
  color: #2a2f3f;
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 720;
  line-height: normal;
  margin-top: 40px;
}

.tbl-card {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tbl-card td,
.tbl-card th {
  border-bottom: 2px solid #ddd;
  padding: 4px;
}

.tbl-card tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tbl-card tr:hover {
  background-color: #ddd;
}

.tbl-card th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: transparent;
  color: rgb(82, 82, 82);
}

/* mobile */
@media (max-width: 575px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container-fluid {
    padding: 0;
  }
  .row-check {
    flex-direction: column-reverse;
  }

  .btn-filter {
    width: 100%;
  }

  #countdown {
    width: 350px;
    max-width: 355px;
    height: 120px;
    padding: 12px 0;
    margin-top: 50px;
  }

  #countdown #tiles > span {
    width: 70px;
    max-width: 70px;
    font: bold 38px "Archivo";
    padding: 12px 0;
  }

  #countdown .labels li {
    width: 80px;
    font: bold 14px "Archivo";
  }

  .filter-by-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .select-filter-by {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  h1 {
    font-family: "Suwannaphum";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;

    color: #ffffff;
  }
  h3 {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: #ffffff;
  }
  hr {
    margin: 0;
  }

  .switch {
    font-size: 14px;
  }
  .slider:before {
    bottom: 0.3em;
  }

  .navbar {
    padding-top: 18px;
    margin-bottom: 2%;
  }

  .navbar-nav {
    flex-direction: column !important;
    margin-left: 0;
  }

  .navbar-collapse {
    background-color: #0e1623;
    margin-left: -20px;
    margin-right: -20px;
  }
  .box-hide {
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
  .box-hide a {
    color: #554348;
    font-size: 16px !important;
    background: linear-gradient(180deg, #ffcc64 0%, #ec8e37 100%);
    border: 2px solid #f2e7b5;
    border-radius: 50px;
    display: block;
  }
  .box-hide-x {
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 20px;
  }
  .box-hide-x a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px !important;
    background: transparent;
    border: 2px solid #f2e7b5;
    border-radius: 50px;
    display: block;
  }

  .menu-hide {
    display: inline;
  }
  .menu-hide-text {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
  }

  .navbar a {
    font-size: 16px;
  }
  .navbar a:hover {
    color: #ffcc64;
  }
  .nav-item {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .navbar-toggler {
    border-color: transparent;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-toggler span {
    display: block;
    background-color: #ffcc64;

    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
  }

  .navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
  }

  .navbar-toggler span:nth-child(2) {
    opacity: 1;
  }

  .navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
  }

  .navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
  }

  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
  }

  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
  }

  .dropdown-menu {
    position: absolute !important;
  }
  .dropdown img {
    display: none;
  }

  .dropdown-menu li a {
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: "Archivo";
  }
  .dropdown-menu li a:hover {
    background-color: #283346;
    color: #ffcc64;
  }
  .acc {
    padding-top: 10px;
    text-align: center;
    font-family: "Archivo";
  }
  .acc span {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    /* identical to box height */

    color: #000000;
  }
  .btn-login {
    width: 100px;
    font-size: 12px;
    padding: 20px;
    text-transform: uppercase;
    color: #554348;
  }

  .btn-login:hover {
    background: linear-gradient(180deg, #ec8e37 0%, #ffcc64 100%);
  }

  .weeks-pot {
    white-space: nowrap;
    font-size: 10px;
    width: 150px;
  }

  .box-cd {
    width: 100%;
    height: 100px;
  }

  .illus-1 lottie-player {
    height: 300px;
    float: none;
    margin-top: 170px;
    margin-bottom: -10px;
  }

  .btnBuyNow {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    color: #554348;
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
  }

  .btnBuyNow:hover {
    background: linear-gradient(180deg, #ec8e37 0%, #ffcc64 100%);
  }

  .nav-item img {
    width: 25px;
    height: 25px;
  }

  .section-two {
    background: #fff;
    margin-bottom: 10px;
  }

  .illus-2 lottie-player {
    height: 280px;
  }

  .title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .text-subtitle {
    margin-top: 20px;
    font-size: 22px;
  }
  .text-subtitle p {
    margin-top: 1px;
    font-size: 12px;
  }
  .section-three {
    background-color: #f5f5f5;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .illus-3 lottie-player {
    height: 250px;
  }

  .section-four {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #fff;
  }
  .illus-4 lottie-player {
    height: 250px;
  }

  .section-five {
    background-color: #f5f5f5;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .illus-5 lottie-player {
    height: 375px;
  }
  .list-raffles img {
    width: 30px;
    height: 30px;
  }
  .text-number {
    font-size: 12px;
    color: #182232;
  }
  .text-date {
    font-size: 10px;
  }
  .text-date p {
    font-size: 12px;
    color: #000000;
    margin-top: -3px;
  }
  .text-price {
    font-size: 14px;
    color: #182232;
  }
  .text-price p {
    font-size: 12px;
  }

  .dt-raffles {
    margin-top: 6px;
  }

  .section-six {
    background: #fff;
    padding-bottom: 15px;
  }

  .btn-get-started {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    text-align: center;
    color: #554348;
  }

  .footer {
    background: radial-gradient(
      84.73% 107.94% at 46.45% 0.94%,
      #4a5464 0%,
      #3f4c63 20.31%,
      #283346 67.19%,
      #182232 100%
    );
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .signup-footer {
    position: fixed;
    bottom: 0;
  }

  .social-media {
    margin-bottom: 10px;
  }

  .social-media span {
    margin-right: 30px;
    width: 150px;
    height: 40px;
  }
  .social-media img {
    height: 35px;
  }
  .fa-facebook-f,
  .fa-twitter,
  .fa-linkedin-in,
  .fa-instagram {
    margin-right: 10px;
    font-size: 16px;
  }
  .fa-facebook-f:hover,
  .fa-twitter:hover,
  .fa-linkedin-in:hover,
  .fa-instagram:hover {
    color: #ffcc64;
  }

  .menu-footer {
    display: flex;
    margin-bottom: 10px;
  }
  .menu-footer a {
    font-size: 12px;
    margin-right: 20px;
    font-weight: 200;
  }
  .menu-footer a:hover {
    color: #ffcc64;
  }

  .text-desc {
    font-size: 9px;
    margin-bottom: 10px;
    font-weight: 200;
  }

  .copyright {
    font-size: 10px;
    font-weight: 200;
  }

  .margin-40 {
    margin-top: 40px;
  }
  .title-c {
    font-size: 24px;
  }

  .search-box {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 350px;
  }
  .search-box img {
    padding-top: 10px;
    padding-left: 15px;
    width: 35px;
    height: 33px;
  }

  .search-box input {
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 40px;
  }
  .search-box input::placeholder {
    font-size: 12px;
  }

  .menu-c a {
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 500;
    font-size: 14px;

    color: rgba(255, 255, 255, 0.7);
  }
  .menu-c a:hover {
    border-bottom: 2px solid #fec862;
    color: #fec862;
  }
  .content-c {
    background: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .card {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 5px;
    height: fit-content;
    width: 85%;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
  }
  .card:hover {
    background: #f4f4f4;
  }
  .card-title {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    color: #182232;
  }

  .card-title img {
    width: 30px;
    height: 30px;
  }
  .card-subtitle {
    font-family: "Suwannaphum";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #182232;
    margin-top: 15px;
  }
  .card-text {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    color: #7d8289;
  }
  .card-info {
    font-size: 12px;
  }
  .card-info span {
    margin-top: 0px;
  }

  .live-c {
    margin-right: 10px;
    font-size: 10px;
  }
  .card-info img {
    width: 20px;
    width: 20px;
    margin-top: 5px;
    margin-right: -5px;
  }

  .winner {
    color: #000;
  }

  .win-name {
    margin-left: 40px;
  }

  .margin-40 {
    margin-top: 0px;
  }

  .banner {
    background: #fff;
    padding: 10px;
    justify-content: center;
  }

  .banner img {
    height: 150px;
    width: 100%;
  }
  .content-mc {
    background: #f5f5f5;
    padding-bottom: 10px;
  }

  .card-mc {
    width: 70%;
    height: 60px;
    margin-top: 15px;
  }
  .mc-right {
    font-size: 16px;
    padding-top: 10px;
    padding-right: 10px;
  }
  .mc-left {
    font-size: 16px;
    float: left;
    padding-left: 10px;
    padding-top: 6px;
  }
  .mc-left p {
    font-size: 10px;
  }

  .signup-logo {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .signup-logo img{
    height: 62px;
  }
  

  .form-title {
    font-size: 16px;
    margin-top: 10px;
    font-family: "Archivo";
  }
  .form-signup {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
  }

  .form-signup input,
  textarea {
    margin-top: 10px;
    padding: 5px;
  }

  .form-signup input,
  textarea::placeholder {
    font-size: 12px;
  }

  .btnSignup {
    box-sizing: border-box;
    width: 150px;
    height: 30px;
    font-size: 12px;
    margin-top: 10px;
    color: #554348;
  }
  .tos input {
    margin-top: 2px;
    width: 15px;
  }
  .tos span {
    margin-left: 10px;
    font-size: 10px;
  }
  .rm input {
    margin-top: 5px;
    width: 12px;
  }
  .rm span {
    margin-top: 7px;
    margin-left: 8px;
    font-size: 12px;
  }

  .signup-menu {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
  }

  .signup {
    font-size: 12px;
  }

  .signup-menu a {
    font-size: 12px;
  }
  .col-50 {
    width: 50%;
  }

  .col-50-bn {
    width: 50%;
  }
  .col-25-bn {
    width: 25%;
  }
  .col-60-bn {
    width: 60%;
  }
  .col-40-bn {
    width: 40%;
  }
  .col-30-bn {
    width: 30%;
  }
  .col-20-bn {
    width: 20%;
  }

  .signup-menu a:hover {
    padding: 6px;
  }

  .menu-active {
  }

  .form-subtitle {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .forgot {
    font-size: 12px;
    margin-top: 10px;
  }
  .forgot a {
    padding-bottom: 5px;
  }

  .modal-body {
    padding: 10px;
  }

  .modal-title {
    font-size: 18px;
  }

  .text-bn {
    font-size: 12px;
  }

  .box-bn {
    width: 175px;
    height: 50px;
    background-image: url(../images/bg-buynow-2.png);
  }
  .box-bn-b {
    background-image: url(../images/bg-buynow-1.png);
  }
  .box-bn h5 {
    font-size: 10px;
    line-height: 19px;
    padding-top: 1px;
    padding-left: 10px;
    color: #fff;
  }

  .box-bn h3 {
    margin-top: -10px;
    font-size: 16px;
    letter-spacing: 0.05em;
    justify-content: center;
    color: #fff;
  }

  .box-pay img {
    margin-top: 4px;
    width: 59px;
    height: 42px;
    padding: 10px;
  }

  .form-group label {
    font-weight: 700;
    font-size: 12px;
  }

  .form-group input::placeholder {
    font-size: 14px;
  }

  .form-group select {
    float: right;
    width: 100px;
    height: 25px;
    font-size: 12px;

    color: #000000;
  }

  .illus-6 {
    margin-top: 135px;
  }
  .illus-6 lottie-player {
    height: 300px;
  }

  .title-draw {
    margin-top: 15px;
    font-size: 24px;
    margin-bottom: -30px;
  }
  .box-draw {
    margin: auto;
    display: flex;
  }
  .box-draw .days {
    width: 60px;
    height: 60px;
    font-size: 38px;
  }
  .days p {
    font-size: 14px;
  }
  .box-draw .hours {
    width: 60px;
    height: 60px;
    font-size: 38px;
  }
  .hours p {
    font-size: 14px;
  }
  .box-draw .minutes {
    width: 60px;
    height: 60px;
    font-size: 38px;
  }
  .minutes p {
    font-size: 14px;
  }
  .box-draw .seconds {
    width: 60px;
    height: 60px;
    font-size: 38px;
  }
  .seconds p {
    font-size: 14px;
  }

  .box-draw .text-a {
    font-size: 32px;
    margin-top: 12px;
    margin-right: 3px;
    margin-left: 3px;
  }

  .box-win {
    width: 100%;
    height: 180px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .box-win h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .box-win-x {
    display: flex;
    width: 100%;
    height: 120px;
    padding: 1px;
  }

  .box-win-number {
    height: 70px;
    width: 90px;

    font-size: 44px;
  }
  .content-draw-b {
    background: #f5f5f5;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .content-draw-b h5 {
    font-size: 14px;
    margin-top: 30px;
  }

  .btnBackHome {
    padding: 5px 15px;
    font-size: 14px;
    margin-top: 10px;
    float: right;
  }

  .illus-7 {
    margin-top: 20px;
  }
  .illus-7 lottie-player {
    height: 250px;
  }

  .illus-8 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .illus-8 img {
    width: 200px;
    height: 230px;
  }

  .box-win-y {
    margin-top: 20px;
    width: 100%;
    height: 90px;
    padding: 10px;
    border-radius: 8px;
  }

  .box-win-number-y {
    height: 60px;
    width: 60px;
    font-size: 32px;
  }

  .text-dp {
    font-size: 26px;
    padding-bottom: 10px;
  }

  .banner-rh img {
    width: 100%;
    height: 86px;
  }

  .text-rh {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
  }

  .tbl-rh {
    margin-bottom: 15px;
  }

  #customers {
    margin-top: 10px;
    font-size: 10px;
  }
  #customers td,
  #customers th {
    padding: 6px;
  }
  #customers tr {
    padding: 10px;
  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .btnDownload {
    background: linear-gradient(180deg, #ffcc64 0%, #ec8e37 100%);
    border: 2px solid #f2e7b5;
    border-radius: 49.5px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 10px;
  }
  .btnVd {
    background: linear-gradient(180deg, #3a475c 0%, #182233 100%);
    border-radius: 49.5px;
    color: white;
    cursor: pointer;
    font-size: 10px;
  }

  .btn-container {
    margin-top: 10px;
  }

  .btn-color-mode-switch > label.btn-color-mode-switch-inner {
    width: 140px;
  }

  .btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
    font-size: 12px;
    font-weight: 700;
    top: 4px;
    right: 10px;
    color: #ffffff;
  }

  .btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
    width: 70px;
    font-size: 14px;
  }

  .btn-color-mode-switch input[type="checkbox"] {
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
  }

  .btn-color-mode-switch
    input[type="checkbox"]:checked
    + label.btn-color-mode-switch-inner {
    background-color: #4769e2;
  }

  .btn-color-mode-switch
    input[type="checkbox"]:checked
    + label.btn-color-mode-switch-inner:after {
    content: attr(data-on);
    left: 65px;
  }

  .btn-color-mode-switch
    input[type="checkbox"]:checked
    + label.btn-color-mode-switch-inner:before {
    content: attr(data-off);
    right: auto;
    left: 20px;
  }

  .btnCreateCamp {
    width: 60%;
    height: 38px;
  }
  .btnCreateCamp a {
    font-size: 14px;
  }

  .share-url {
    width: 100%;
  }

  .text-card {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .text-credit {
    margin-bottom: 10px;
  }
  .text-card-info {
    font-size: 12px;
  }
  .text-card-info-b {
    font-size: 12px;
  }

  .btn-edit-card button {
    font-size: 10px;
    padding: 2px 15px;
  }
  .btn-add-new-card {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .btn-add-new-card a {
    font-size: 16px;
    padding: 8px 16px;
  }
  .img-card {
    text-align: center;
  }
  .img-card img {
    width: 355px;
    height: 200px;
  }

  .title-dash {
    font-size: 18px;
    margin-top: 10px;
  }

  .card-dash {
    margin-top: 10px;
    width: 100%;
    padding: 10px 10px;
  }
  .card-dash img {
    width: 40px;
    height: 40px;
  }

  .card-dash span {
    font-size: 18px;
  }

  .card-dash p {
    font-size: 12px;
  }

  .pay-dash {
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 180px;
  }

  .pay-dash a {
    text-decoration: none;
  }

  .pay-dash span {
    color: #000;
    font-size: 14px;
    font-family: Syne;
    font-weight: 700;
    margin-left: 6px;
  }

  .logout {
    display: inline;
  }
}
/* Mobile */
